 
body{background-color:black;
	margin:0px;
	padding:0px; 
	font-family:arial;
	color:white;}
table { 
    border-spacing: 10px;
    border-collapse: separate;
}
.header img {
    max-width: 100%;
    height: auto;
}
.menu {padding: 1% 1% 1% 70%;
        margin-top:-60;
       }
.menu td{width: 62px;
	     height: 62px;
         text-align: center;
         background-color: #1E01A1;
         border-radius:100%;
	       position: relative;
	       margin-left: 100px;
	       -webkit-transition: background-color 0.3s ease-out;
}
.menu td:hover{
         background-color: #49ABFC;
}

#obecna {
         background-color: #49ABFC;
}
.tresc{padding-top:60px;
	   padding-left:50px;
       margin:auto;
	   text-align:center;
	   padding-bottom:60px;
	   background-color:#101010;
	   }
#tekst {text-align:left;
		  float:left;
		  width:30%;
		  padding:20px;
		  font-size:13px;
		  border-left: 1px solid #49ABFC;
		  border-top: 1px solid #49ABFC;}
	  

.napisy{padding:10px;
		position: absolute;
		font-size:20px;
		display: block;
		-webkit-transition: background-color 0.6s ease-out;
		}
.napisy:hover{background-color:#49ABFC;
			  }
.opisy{font-size:12px;
	  padding:10px;
	  }			  
#plt {margin-left:550px;
    margin-top:-20px;   
}
#plt_c {
	position:absolute; 
	width:250px;
	text-align:left;
    margin-left:400px;
    border-left:1px solid #49ABFC;
	border-bottom:1px solid #49ABFC;
}

#cdr {margin-left:1250px;
    margin-top: 90px;
}

#cdr_c{position:absolute; 
	width:250px;
	text-align:left;
    margin-left:1250px;
    margin-top:130px;
    border-right:1px solid #49ABFC;
	border-bottom:1px solid #49ABFC;}

#kar {margin-left:250px;
    margin-top:330px;   
}
#kar_c{position:absolute; 
	width:250px;
	text-align:left;
    margin-left:250px;
    margin-top:390px;
    border-left:1px solid #49ABFC;
	border-top:1px solid #49ABFC;}
	
#dsk {margin-left:995px;
    margin-top:620px; 	
}
#dsk_c{position:absolute; 
	width:200px;
	text-align:left;
    margin-left:860px;
    margin-top:420px;
    border-right:1px solid #49ABFC;
	border-top:1px solid #49ABFC;}
#zas {margin-left:230px;
    margin-top:675px;   
}
#zas_c{position:absolute; 
	width:250px;
	text-align:100;
    margin-left:260px;
    margin-top:700px;
    border-right:1px solid #49ABFC;
	border-top:1px solid #49ABFC;}

.stopka{
   position:absolute;
   font-size:10px;	
   width:100%;
   background-color: #2D384C;
}

.linki{
	width:10%;
    padding-left:80px;
	margin-top:3%;
    margin-left:3%;
	line-height:25px;
	border-right: 1px solid #647596;
}

.linki a{
    color:#647596;
}

.stopka p{
  margin-left: 82%;  
  width: 200px;
  float: left;  
  text-align:right;
  position:relative;
  bottom:80px;
  color:#647596; 
}
